body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f7f7f7;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

input {
  margin: 5px;
  padding: 8px;
  font-size: 16px;
  width: 250px;
}

button {
  padding: 8px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

button.delete-btn {
  background-color: #f44336;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
}

button.delete-btn:hover {
  background-color: #d32f2f;
}

h2 {
  color: #333;
}

h3 {
  color: #555;
}

